<!DOCTYPE html>
<html ng-app="app">
    <head>
        <script src="./lib/angular/angular.min.js"></script>
        <script src="main.js"></script>        
    </head>
    <body> Hello Guys 
        <hr>

        <div ng-init="text='test'">
            {{text}}
        </div>
        <div ng-init="list=['Hello', 'Worl', 'sdhfij', 'xxxxddfdf', 'dsfsdfsd', 'xdfsdf']">

        </div>

        <div >
            <input ng-model="searchList" type="text" name="name" /> 
        </div>
        
        <div >
            <ul >
                <li ng-repeat="li in list | filter:searchList | orderBy ">{{li}}</li>
            </ul>
        </div> 

        <div ng-controller="SettingsController1 as settings">
            <input type="text" ng-model="fname">
            <input type="button" ng-click="settings.addName(fname)" />
                <!-- {{name}} 
                {{settings.name}}
                <div ng-controller="SettingsController2 as settings2">
                    {{name}}
                </div> -->
                <ul >
                    <li ng-repeat="name in settings.names">{{name}}</li>
                </ul>
                
        </div>


    </body>
    
</html>
